
<!DOCTYPE html>
<html>
<head>
	<title>Remind me to book</title>
	<meta name="theme-color" content="#00897b">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- typehead and materizlizetags -->
   
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script> -->
    <script type="text/javascript" src="/js/typeahead.js"></script>
    <script type="text/javascript" src="/js/materialize-tags.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/materialize-tags.css">
    
    <!--app css and js-->
    <link type="text/css" href="/fonts/SEASRN__.woff">
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
 
</head>
<body>
	<div id="navbar-fixed">
		<nav class="pink accent-4">
			<div class="logoContainer">
				<span id="logo">Grab Your Tickets</span>
			</div>

		</nav>
	</div>
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12">
					{{#if message}}
					<div class="card-panel indigo z-depth-3">
						<span class="white-text">
							{{message}}
						</span>	
					</div>
					{{/if}}
					<div class="card-panel z-depth-3">
						<div class="row">
							<form class="col s12" method="post" action="/" id="reg_form">
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">location_city</i>
										<input id="city"  type="text" class="validate" name="city" >
										<label for="city">City</label>
										<div id="city_error" class="error"></div>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">movie</i>
										<input id="movie"  type="text" class="validate" name="movie" >
										<label for="movie">Movie</label>
										<div id="movie_error" class="error"></div>
									</div>
								</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="material-icons prefix">theaters</i>
											<input id="cinemas"  type="text" class="validate typehead-input" name="theater">
											<label for="cinemas">Cinemas</label>
											<div id="cinemas_error" class="error"></div>
										</div>
									</div>				
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">today</i>
										<input id="date" class="datepicker" type="text" class="validate" name="date" >
										<label for="date">Date</label>
										<div id="date_error" class="error"></div>
									</div>
								</div>
								
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">person</i>
										<input id="name" type="text" class="validate" name="name" >
										<label for="name">Name</label>
										<div id="name_error" class="error"></div>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">phone_iphone</i>
										<input id="mobile" type="tel" class="validate" name="mobileNumber">
										<label for="mobile">Mobile Number</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">email</i>
										<input id="email" type="email" class="validate" name="email">
										<label for="email">Email</label>
										<div id="email_mobile_error" class="error"></div>
									</div>
								</div>

								<div class="row center">
									<div class="input-field col s12">
										<span>Confirm that you are a human:</span>
										<div class="g-recaptcha" data-sitekey="6LeoyicTAAAAANpY7uCRo7mpJsUjz1VN_KaKTlTa"></div>
										<div id="captcha_error" class="error left"></div>
									</div>
								</div>

								<div class="row center">
									<button class="btn waves-effect waves-light" type="submit" id="submitBtn">Submit
										<i class="material-icons right">send</i>
									</button>		
								</div>
							</form>
						</div>
						<div class="row center">
							<div id="smsPartner">
								<p>Our SMS Partner</p>
								<a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="noDataModal" class="modal">
		<div class="modal-content">
			<p>Hey, seems there are no movies available in your city. Please, try again later sometime or feel free to log a issue. </p>
		</div>
		<div class="modal-footer">
			<a href="#" class="modal-action modal-close waves-effect grey darken-1 btn">Close</a>
			<a href="#" class="modal-action waves-effect red darken-3 btn">Log Issue</a>
		</div>
	</div>

	<div id="sysErrorModal" class="modal">
		<div class="modal-content">
			<p></p>
		</div>
		<div class="modal-footer">
			<a href="#" class="modal-action modal-close waves-effect grey darken-1 btn">Close</a>
			<a href="#" class="modal-action waves-effect red darken-3 btn">Log Issue</a>
		</div>
	</div>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l4 s12 center" id="donate">
					<h5 class="">Buy me a Pizza</h5>
					<p class="">If you feel this site has helped you a lot, please support me over donation , so that it can help me maintain the site</p>
					<form id="donate-form">
						<button class="btn waves-effect waves-light">Donate</button>
					</form>
				</div>

				<div class="col l4 s12 center" id="issue">
					<h5 class="">Found a Issue ?</h5>
					<p class="">No one writes a perfect code , so if you find any issues - like 
					if you dint get notification on time, feel free to log a issue</p>
					<a class="btn waves-effect waves-light" href="/logissue" target="_blank">Log Issue</a>
				</div>

				<div class="col l4 s12 center" id="connect">
					<h5 class=""> Connect with Me</h5>
					<ul>
						<li><a href="https://www.facebook.com/vikneshL" target="_blank">Facebook</a></li>
						<li><a href="https://github.com/vikneshwar/" target="_blank">Github</a></li>
						<!-- <li><a href=""></a></li> -->
					<ul>
				</div>
			</div>
		</div>
		 <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Grab Your Tickets. All rights reserved. 
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
         </div>
	</footer>
	<div id="overlay-container">
	 <div class="preloader-wrapper big active" id="loadingMask">
     	 <div class="spinner-layer spinner-blue">
        	<div class="circle-clipper left">
          		<div class="circle"></div>
        	</div>
        	<div class="gap-patch">
         		 <div class="circle"></div>
        	</div>
        	<div class="circle-clipper right">
          		<div class="circle"></div>
        	</div>
      	</div>
     </div>
   </div>
</body>
<script src='https://www.google.com/recaptcha/api.js'></script>
</html>